/* ===============================
 * list of variables
 * =============================== */

$color-1: #e90509; //red
$color-2: #0b0947; //dark blue
$color-3: #447fb9; //soft blue
$color-disabled: #909090 //grey