/* ===============================
 * Home Styling (frontpage)
 * =============================== */

.frontpage .program {
    &-list {
        transition: .6s;
        cursor: pointer;
        @include spacemar(15px);
        @include breakpoint('sm') {
            &:hover {
                transform: translate(0, -4em);
                > img {
                    border-bottom: 1px solid $color-1;
                }
            }
        }
        &-pedulikomunitas {
            // manually set the peduli komunitas img to 50%
            > img {
                @include breakpoint('xs') {
                    width: 50%;
                }
            }
        }
        &.disabled {
            @extend .__disabled;
            &:after {
                content: 'Dalam pengerjaan';
                text-align: center;
                display: block;
                font-weight: 700;
                color: $color-disabled;
            }
        }
    }
}

.frontpage .user-content {
    &-title {
        text-align: center;
    }
    &-post {
        @include breakpoint('xs') {
            text-align: center;
        }
    }
}
